<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/nav") %>
    <h1>Hii</h1>
    <% if (blogs && blogs.length) { %>
    <div class="container mt-3 row row-cols-3">
      <% blogs.forEach(blog => { %>
      <div class="col">
        <div class="card col mt-3" style="width: 18rem">
          <% if (blog.coverImage) { %>
          <img
            class="card-img-top"
            src="<%= blog.coverImage %>"
            alt="Cover image"
          />
          <% } %>
          <div class="card-body">
            <h5 class="card-title"><%= blog.title %></h5>
            <a href="/blog/<%= blog._id %>" class="btn btn-primary"
              >Read More</a
            >
          </div>
        </div>
      </div>
      <% }); %>
    </div>
    <% } else { %>
    <p>No blogs found.</p>
    <% } %> <%- include("./partials/script") %>
  </body>
</html>
